# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/


# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
